@import 'reset';
$fa-font-path: "//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts";
@import 'font-awesome';
@import 'bourbon';
@import 'neat';
$kb-color1:  #9CBBCB;
$kb-color2: white;

.keyboard {
    background: $kb-color1;
    font-size: 2rem;
}
.keys button {
    height: 50px;
    margin: 0 0 0 0 ;
}
.square-keys {
    width: 50px;
}
.square-plus {
    width: 4rem;
}
.square-plus2 {
    width: 5.4rem;
}
.shift {
    width: 7.3rem;
}

.space-bar {
    width: 840px;
}
.output {
    width: 100%;
    height: 16rem;
    background: $kb-color2;
}

// .caps {
//     text-transform: capitalize;
// }
